*
{
padding:0;
margin:0;
}
body
{
  overflow-x:hidden;
    margin: 0px;
    padding: 0px;
}


/*layout1*/
h1 {
    color: #120052;
    font-family: 'League Spartan', sans-serif;
    padding: 2vw 4vw;
}
.layout1 {
    width: 90vw;
    height: auto;
    background-color: #120052;
    border-radius: 1.4vw; 
    margin: 0 4vw;
    padding: 4.4vw 5.8vw 4vw 3.2vw;  
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6vw;
}


/*layout2*/
.pic1 img{
    width:100vw;
    height:auto;
    padding: 4vw 5.9vw 4vw 4vw;
}
.h2style {
    color: #120052;
    font-family: 'Antonio', sans-serif;
    font-weight: bold;
    padding: 1vw 6vw 0.7vw 8vw;
}
.layout2_txt {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 6vw 1vw 8vw;
    font-size: large;
}
.objective {
    display: inline-block;
}
.impact ul, .objective ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 0 0 0 10vw;
}
.impact {
    display: inline-block;
    margin: 1vw 6vw 0.7vw 12vw;
}